<app-navigate></app-navigate>
<div class="index_wrapper">

<div class='channelImage'>
<p style='color: red'>channel image</p>
</div>

<div class='channelIntroduce'>
<p style='color: red'>channel introduce</p>
</div>

<div class='channelBoard'>
<p style='color: red'>channel bord</p>
</div>

<div class='chatBoard'>
<p style='color: red'>chat board</p>
</div>

<div class='chatInput'>
<p style='color: red'>chat input</p>
</div>

<div class='mainPlayer'>
<p style='color: red'>main player</p>
</div>

<div class="footer" color="primary">
    <p>Copyright hanvskun@hotmail.com</p>
</div>

</div>