.index_wrapper {
    width: 1280px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 120px 120px 120px 120px 50px;
    grid-gap: 20px;
    padding-top: 20px;
}

.mainChannel {
    text-align: center;
    grid-column: 4 / 1;
    grid-row: 1 / 4;
    background-color: black;
}

.subChannel {
    text-align: center;
    background-color: black;
}

.footer {
    text-align: center;
    grid-column: 6/1;
    grid-row: 5/5;
}